<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bất động sản Cần Thơ</title>
    <link href="./asset/img/logo-icon.png" rel="shortcut icon" />
    <link rel="stylesheet" href="./asset/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./asset/css/navbar.css">
    <link rel="stylesheet" href="./asset/css/cauhoithuonggap.css">
    <link rel="stylesheet" href="./asset/css/footer.css">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <div class="nav-border-bot row">
                    <div class="col">
                        <a href="#" id="logo-responsive" style="display: none;"><img src="./asset/img/logo1.png" style="width: 150px;" alt=""></a>
                    </div>
                    <div class="col">
                        <label style="float: right; font-size: 25px; margin-top: 5px; margin-right: 10px;" for="nav-btn" class="nav-item-show"><i class="fas fa-bars"></i></label>
                    </div>
                </div>
                <div class="main-menu">
                    <input type="checkbox" class="nav-btn-hide" id="nav-btn">
                    <ul>
                        <li id="li-logo" style="margin-right: 80px; vertical-align: middle;">
                            <a href="#"><img src="./asset/img/logo1.png" style="width: 200px;" alt=""></a>
                        </li>
                        <li><a href="#">Trang chủ</a></li>
                        <li><label for="nav-btn-1" class="nav-item-show">Cho thuê BĐS<i
                                    class="fas fa-angle-down"></i></label>
                            <input type="checkbox" class="nav-btn-hide" id="nav-btn-1">
                            <a href="#" class="dropdown_item">Cho thuê BĐS<i class="fas fa-angle-down"></i></a>
                            <ul class="dropdown_menu animated fadeInUp">
                                <li><a href="#">Văn phòng</a></li>
                                <li><a href="#">Nhà phố - Thương mại</a></li>
                                <li><a href="#">Chung cư - Nhà ở</a></li>
                                <li><a href="#">Căn hộ dịch vụ</a></li>
                            </ul>
                        </li>
                        <li><label for="nav-btn-2" class="nav-item-show">Bán BĐS<i
                                    class="fas fa-angle-down"></i></label>
                            <input type="checkbox" class="nav-btn-hide" id="nav-btn-2">
                            <a href="#" class="dropdown_item">Bán BĐS<i class="fas fa-angle-down"></i></a>
                            <ul class="dropdown_menu animated fadeInUp">
                                <li><a href="#">Chung cư</a></li>
                                <li><a href="#">Liền kề - Biệt thự</a></li>
                                <li><a href="#">BĐS nghỉ dưỡng</a></li>
                                <li><a href="#">Đất nền</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li style="float: right; margin-top: 18px;" id="li-taikhoan"><label for="nav-btn-3" class="nav-item-show">Tài khoản<i class="fas fa-angle-down"></i></label>
                            <input type="checkbox" class="nav-btn-hide" id="nav-btn-3">
                            <a href="#" class="dropdown_item">Tài khoản<i class="fas fa-angle-down"></i></a>
                            <ul class="dropdown_menu dropdown_menu-right animated fadeInUp">
                                <li><a href="#">Đăng nhập</a></li>
                                <li><a href="#">Đăng ký</a></li>
                                <li><a href="#">Thông tin</a></li>
                                <li><a href="#">Đăng xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 coltrai">
                    <h1 class="text-center">FAQ - Câu Hỏi Thường Gặp</h1>
                </div>
                <!-- end col trai -->
                <div class="col-md-6 colphai">
                    <div class="timnhanh text-center">
                        <h3 class="tieude_timnhanh">Quy định, chính sách về FAQ - thường gặp tại <br> Bất động sản Cần Thơ</h3>
    
                    </div>
                    <!-- end timnhanh -->
                </div>
                <!-- end col phai -->
            </div>
            <!-- end row head -->
        </div>
        <div class="clear-float"></div>
        <div class="container" id="main-content">
            <h1>FAQ - Câu Hỏi Thường Gặp</h1>
            <div class="item-wrapper">
                <div class="question">
                    <i class="fas fa-plus toggle-display"></i>Trang thông tin batdongsancantho.com là gì?
                </div>
                <div class="answer">
                    batdongsancantho.com là trang thông tin chuyên biệt về các sản phẩm thông tin liên quan đến nhà đất, bất động sản, trang thông tin hỗ trợ rao vặt các dịch vụ mua bán, trao đổi, cho thuê nhà đất tại Cần Thơ và các tỉnh. Với đội ngũ quản lý chuyên nghiệp
                    batdongsancantho.com sẽ là một trang thông tin uy tín – chất lượng dành riêng cho bạn.
                </div>
            </div>
            <div class="item-wrapper">
                <div class="question">
                    <i class="fas fa-plus toggle-display"></i> Bất động sản Cần Thơ được vận hành bởi đơn vị nào?
                </div>
                <div class="answer">
                    batdongsancantho.com được phát hành và vận hành bởi Công ty cổ phần Bất động sản Cần Thơ, đơn vị xuất bản và vận hành các sản phẩm công nghệ theo xu hướng phát triển mới. Hiểu về BĐSCT Group tại đây.
    
    
                </div>
            </div>
            <div class="item-wrapper">
                <div class="question">
                    <i class="fas fa-plus toggle-display"></i> Bất động sản Cần Thơ hỗ trợ đăng tin như thế nào?
                </div>
                <div class="answer">
                    Đến với Bất động sản Cần Thơ chúng tôi luôn hỗ trợ bạn một các nhiệt quyết nhất, với các chính sách hỗ trợ như: - Hướng dẫn đăng tin theo cá nhân hóa, áp dụng các hỉnh thức đăng tin nổi bất nhất, hấp dẫn người xem. - Hỗ trợ đăng tin miễn phí, hỗ trợ đội
                    ngũ tác nghiệp thực địa nhằm ghi nhận những hình ảnh thực tế không gian đem đến cho người xem những hình ảnh trung thực nhất, thu hút lượt xem tin. - Áp dụng và hỗ trợ ảnh 360 độ giúp người xem tin đăng bao quát được không gian thực tế.
                    - Các hỗ trợ xác thực thông tin khác.
                </div>
            </div>
            <div class="item-wrapper">
                <div class="question">
                    <i class="fas fa-plus toggle-display"></i> Bất động sản Cần Thơ có thu phí từ việc đăng tin? nào?
                </div>
                <div class="answer">
                    Bất động sản Cần Thơ không thu phí từ việc đăng tin của bạn, việc đăng tin là miễn phí. Tuy nhiên nếu bạn có sử dụng các dịch vụ kèm theo tin đăng mà bạn yêu cầu thì bạn chỉ chi trả mức phí theo biểu phí được công khai trên trang thông tin batdongsancantho.com.
                    Nội dung thu phí và lý do sẽ được nêu rõ, bạn chỉ trả phí khi đồng ý với các điều khoản được thể hiện trong dịch vụ lựa chọn.
                </div>
            </div>
        </div>
        <!-- Lightbox -->
        <div id="lightbox">
    
            <!-- nút đóng lightbox -->
            <span id="close-icon">&times;</span>
        </div>
    </section>
    <footer>
        <div class="text-light py-4">
            <div class="container-fluid p-0">
                <div class="cursor-default text-center">
                    <div class="logo logo-64 mx-auto mb-2"><img class="img-footer" src="./asset/img/logo-icon.png" alt="" srcset="">
                    </div>
                    <h4 class="font-logo">
                        Bất động sản cần thơ
                    </h4>
                    <h6>Thoải mái như ở nhà - Giá rẻ như ở nhà</h6>
                    <hr>
                </div>
                <div class="row-footer">
                    <div class="col-lg-3">
                        <h6 class="footer-h6">Giới thiệu</h6>
                        <hr class=" mr-5">
                        <ul class="content-footer">
                            <li class="my-1"><a href="ve-chung-toi.html">Về chúng tôi</a></li>
                            <li class="my-1"><a href="">Báo chí</a></li>
                            <li class="my-1"><a href="">Tuyển dụng</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h6 class="footer-h6">Chương trình</h6>
                        <hr class=" mr-5">
                        <ul class="content-footer">
                            <li class="my-1"><a href="doi-tac-kinh-doanh.html">Đối tác kinh doanh</a></li>
                            <li class="my-1"><a href="">Đối tác nhà đất</a></li>
                            <li class="my-1">
                                <a href=""></a>Khách hàng doanh nghiệp</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h6 class="footer-h6">Chính sách</h6>
                        <hr class=" mr-5">
                        <ul class="content-footer">
                            <li class="my-1"><a href="">Chế độ</a></li>
                            <li class="my-1"><a href="">Bồi thường</a></li>
                            <li class="my-1"><a href="rieng-tu.html">Riêng tư</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h6 class="footer-h6">Hỗ trợ</h6>
                        <hr class=" mr-5">
                        <ul class="content-footer">
                            <li class="my-1"><a href="">Hướng dẫn sử dụng</a></li>
                            <li class="my-1"><a href="cau-hoi-thuong-gap.html">Câu hỏi thường gặp</a></li>
                            <li class="my-1"><a href="">Cẩm nang </a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-contact">
                    <hr>
                    <h6 class="small">Tương tác với chúng tôi</h6>
                    <a href="https://www.facebook.com/" class="text-light mx-1"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.youtube.com/" class="text-light mx-1"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.linkedin.com/" class="text-light mx-1"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/" class="text-light mx-1"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/" class="text-light mx-1"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <i>Sản phẩm này chỉ phục vụ cho hoạt động học tập và nghiên cứu, không phục vụ cho mục đích thương mại.</i><br> Mã nguồn mở, Bản quyền &copy; <a href="">SBY</a> - 2021 <br>
            <span>Hành trang tới Tương lai</span>
        </div>
    </footer>
</body>

<script src="./asset/lib/jquery/jquery.min.js"></script>
<script src="./asset/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="./asset/js/cau-hoi-thuong-gap.js"></script>

</html>