{% extends 'user/base.html' %}
{% load static %}

{% block title %}Bất động sản Cần Thơ{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/user/doitackinhdoanh.css' %}">
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <h2 class="block-title">Lợi ích khi tham gia </h2>
            <div class="container">
                <div class="row">
                    <div class="col-image col-6">
                        <img class="img-benefit" src="{% static 'img/doitac.jpg' %}" alt="">
                    </div>
                    <div class="col-text col-6 content-benefit">
                        <div class="content">
                            <h3>Hệ thống chăm sóc khách hàng tiên tiến</h3>
                            <p>Công nghệ trực tuyến được đảm bảo cho các đối tác nhận được đơn hàng liên tục hàng ngày.
                            </p>
                        </div>
                    </div>
                    <div class="col-text col-6 content-benefit">
                        <div class="content">
                            <h3>Dễ dàng tiếp cận khách hàng</h3>
                            <p>Bắt kịp xu hướng tiêu dùng công nghệ, tăng khả năng tiếp cận khách hàng thông qua trực
                                tuyến của Bất động sản Cần Thơ.</p>
                        </div>
                    </div>
                    <div class="col-image col-6 ">
                        <img class="img-benefit" src="{% static 'img/doitac1.jpg' %}" alt="">
                    </div>
                    <div class="col-image col-6">
                        <img class="img-benefit" src="{% static 'img/doitac2.jpg' %}" alt="">
                    </div>
                    <div class="col-text col-6 content-benefit">
                        <div class="content">
                            <h3>Giảm chi phí vận hành</h3>
                            <p>Tận dụng hệ thống Bất động sản Cần Thơ, không mất chi phí đầu tư, bảo trì hệ thống và
                                không cần nhân sự chuyên trách.</p>
                        </div>
                    </div>
                    <div class="col-text col-6 content-benefit">
                        <div class="content">
                            <h3>Hệ thống chăm sóc khách hàng tiên tiến</h3>
                            <p>Công nghệ phản hồi và chăm sóc khách hàng tự động cho phép cải thiện chất lượng dịch vụ
                                một cách hiệu quả, nhanh chóng và chính xác.</p>
                        </div>
                    </div>
                    <div class="col-image col-6">
                        <img class="img-benefit" src="{% static 'img/doitac3.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        </div>
        <hr>
        <div class="container">
            <div class="block-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="block-title">Cách tham gia</h3>
                        <hr class="hr-small">
                        <div class="content">
                            <p><strong>1.</strong> Đăng ký tham gia cách điền vào Form Đăng ký làm đối tác của Bất động
                                sản Cần Thơ</p>
                            <p><strong>2.</strong> Kiểm tra thông tin cung cấp dịch vụ</p>
                            <p><strong>3.</strong> Họp tác thành công</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="block-title">Đối tượng tham gia</h3>
                        <hr class="hr-small">
                        <div class="content">
                            <p><strong>1.</strong> Các doanh nghiệp cung cấp dịch vụ bất động sản </p>
                            <p><strong>2.</strong> Các cá nhân có nhu cầu kiếm thêm thu nhập</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}{% endblock %}
<!DOCTYPE html>
<html lang="en">