{% extends 'user/base.html' %}
{% load static %}

{% block title %}Bất động sản Cần Thơ{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/user/riengtu.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-6 coltrai">
                <h1 class="text-center">FAQ - Câu Hỏi Thường Gặp</h1>
            </div>
            <!-- end col trai -->
            <div class="col-md-6 colphai">
                <div class="timnhanh text-center">
                    <h3 class="tieude_timnhanh">Quy định, chính sách về việc Bảo vệ quyền riêng tư tại <br> Bất động sản Cần Thơ</h3>

                </div>
                <!-- end timnhanh -->
            </div>
            <!-- end col phai -->
        </div>
        <!-- end row head -->
    </div>
    <div class="container">
        <div class="content-page">
            <div>
                <p>
                    <strong>Phạm vi áp dụng:</strong>
                </p>

                <div>
                    <ul>
                        <li>Phần Qui định bảo vệ Quyền riêng tư này trình bày về việc chúng tôi xử lý thông tin nhận dạng cá nhân mà chúng tôi thu thập được khi bạn ở trong trang web hoặc ứng dụng di động của chúng tôi , và khi bạn sử dụng các dịch vụ của
                            chúng tôi hoặc dịch vụ của các đối tác nhưng có liên kết với dịch vụ của chúng tôi.</li>
                        <li>Quy định này không áp dụng cho những cách thức xử lý thông tin của các công ty mà chúng tôi không sở hữu hoặc kiểm soát, hoặc những người không phải là nhân viên của chúng tôi hay những người không do chúng tôi quản lý.</li>
                    </ul>
                </div>

                <p><strong>Cách thức chúng tôi thu thập thông tin:</strong></p>

                <div>
                    <ul>
                        <li>Chúng tôi thu thập các thông tin nhận dạng cá nhân khi bạn đăng ký sử dụng hoặc sử dụng một số dịch vụ của chúng tôi. Chúng tôi cũng có thể nhận được các thông tin nhận dạng cá nhân do các đối tác cung cấp khi bạn sử dụng dịch
                            vụ của họ nhưng có sự liên kết phối hợp cung cấp của chúng tôi Chúng tôi cũng tự động nhận được và ghi lại các thông tin trong các tập tin ghi chép trong máy chủ của chúng tôi từ cửa sổ trình duyệt của bạn, trong đó bao gồm
                            địa chỉ IP, thông tin về tập tin cookie.</li>
                    </ul>
                </div>

                <p><strong>Dữ liệu chúng tôi thu thập:</strong></p>

                <p>Để vận hành trang web và cung cấp cho bạn thông tin về sản phẩm hoặc dịch vụ có thể được bạn quan tâm, chúng tôi có thể thu thập:</p>

                <div>
                    <ul>
                        <li>Dữ liệu cá nhân:&nbsp;tức là thông tin có thể được sử dụng để liên lạc với bạn trực tiếp mà không sử dụng trang web bao gồm họ tên, địa chỉ bưu chính, số điện thoại, thông tin tài khoản ngân hàng/thẻ tín dụng / thẻ ghi nợ, hoặc
                            địa chỉ email.</li>
                        <li>Dữ liệu Nhân khẩu học:&nbsp;(những thông tin không phải là thông tin cá nhân, bao gồm nhưng không giới hạn ở mã vùng, quê hương, giới tính, tuổi, ngày tháng năm sinh, lịch sử duyệt web, lịch sử tìm kiếm thông tin.</li>
                        <li>Dữ liệu vị trí:&nbsp;Dịch vụ của chúng tôi có thể sử dụng các công nghệ hỗ trợ định vị như Google Maps. Nếu bạn sử dụng các dịch vụ này, Google có thể nhận thông tin về vị trí thực của bạn (ví dụ như tín hiệu GPS được gửi qua thiết
                            bị di động) hoặc thông tin có thể được sử dụng để xác định vị trí (như ID điện thoại di động).</li>
                    </ul>
                </div>

                <p>Chúng tôi sử dụng thông tin của bạn cho mục&nbsp;đích gì?</p>

                <div>
                    <ul>
                        <li>Chúng tôi sử dụng địa chỉ email của bạn và các thông tin cá nhân của bạn để giúp chúng vận hành một cách có hiệu quả các trang web và dịch vụ, liên lạc với bạn khi bạn thực hiện các giao dịch đặt chỗ, để chuyển tiếp thông tin
                            chuyến đi từ những người dùng trang web khác đến cho bạn;&nbsp; và các hoạt động khác trên trang web (ví dụ gửi tin tức quan trọng mà có thể bạn quan tâm. Trong một số trường hợp, chúng tôi có thể gửi cho bạn các hoạt động
                            truyền thông chứa nội dung thương mại, chẳng hạn như các banner quảng cáo và cung cấp đặc biệt dạng giảm giá hoặc khuyến mại).</li>
                        <li>Chúng tôi có thể sử dụng các thông tin về vị trí để tối ưu hóa các hoạt động được thiết kế cho các thiết bị cầm tay thông minh. Các ứng dụng này sẽ làm cho việc đặt chỗ và theo dõi xe đến đón cũng như tìm kiếm hành khách một
                            cách thuận lợi và linh hoạt hơn phương thức qua website.</li>
                    </ul>
                </div>

                <p><strong>Tiết lộ và chia sẻ thông tin</strong></p>

                <p>Chúng tôi chỉ chia sẻ thông tin cá nhân với các công ty hoặc cá nhân khác bên ngoài trong những trường hợp giới hạn sau:</p>

                <div>
                    <ul>
                        <li>Chúng tôi được bạn đồng ý cho tiết lộ thông tin đó.</li>
                        <li>Chúng tôi cần tiết lộ thông tin của bạn để cung cấp các sản phẩm hoặc dịch vụ mà bạn yêu cầu.
                        </li>
                        <li>Chúng tôi cần gửi thông tin đó cho những công ty hoạt động thay mặt cho chúng tôi để cung cấp sản phẩm hoặc dịch vụ cho bạn. (Trừ khi chúng tôi thông báo cho bạn biết nội dung khác, các công ty này không có quyền sử dụng các thông
                            tin nhận dạng cá nhân mà chúng tôi cung cấp cho họ vượt quá phạm vi cần thiết để trợ giúp chúng tôi).</li>
                        <li>Chúng tôi tuân theo các trát lệnh, lệnh tòa án hoặc thủ tục pháp lý.</li>
                    </ul>
                </div>

                <p><strong>Cập nhật hoặc xóa thông tin</strong></p>

                <div>
                    <ul>
                        <li>Khi bạn sử dụng các dịch vụ của chúng tôi, chúng tôi thật sự cố gắng cung cấp cho bạn quyền truy cập vào thông tin cá nhân của bạn hoặc để chỉnh sửa dữ liệu này nếu chưa chính xác hoặc xoá dữ liệu đó theo yêu cầu của bạn nếu dữ
                            liệu này không được luật pháp yêu cầu giữ lại. Bạn có thể chỉnh sửa hồ sơ của bạn bất cứ lúc nào. Tất cả những gì bạn cần là tên người dùng và mật khẩu của bạn.</li>
                    </ul>
                </div>

                <p><strong>Bảo mật thông tin</strong></p>

                <div>
                    <ul>
                        <li>Chúng tôi sử dụng các biện pháp bảo mật thích hợp để bảo vệ việc truy cập hoặc sửa đổi, tiết lộ hoặc huỷ dữ liệu một cách trái phép. Các biện pháp này bao gồm xem xét nội bộ các thực tiễn thu thập, lưu trữ và xử lý dữ liệu cũng
                            như các biện pháp bảo mật, bao gồm các biện pháp bảo mật vật lý và mã hoá thích hợp để bảo vệ chống truy cập trái phép vào hệ thống lưu trữ dữ liệu cá nhân của chúng tôi.</li>
                    </ul>
                </div>

                <p><strong>Những thay&nbsp;đổi về Quy&nbsp;định bảo vệ Quyền riêng tư này</strong></p>

                <div>
                    <ul>
                        <li>Đôi khi chúng tôi có thể sửa đổi qui định này. Nếu có những thay đổi, chúng tôi sẽ thông báo cho bạn bằng cách đăng thông báo ở vị trí dễ nhận thấy trên các trang web của chúng tôi. Bạn đồng ý rằng thông báo được đăng như vậy sẽ
                            được coi như là bản thông báo đầy đủ và thỏa đáng cho bạn về những thay đổi nói trên.Bạn đồng ý rằng nếu bạn tiếp tục sử dụng các dịch vụ và sản phẩm của chúng tôi sau khi có sự sửa đổi đó, điều đó có nghĩa là bạn chấp nhận
                            và đồng ý tuân theo qui định được sửa đổi.</li>
                    </ul>
                </div>

                <p><strong>Các thắc mắc hoặc gợi&nbsp;ý</strong></p>

                <div>
                    <ul>
                        <li>Nếu bạn có bất kỳ câu hỏi hoặc góp ý nào cho chúng tôi về Quyền riêng tư, bạn có thể liên lạc với chúng tôi tại&nbsp;<a href="mailto:support@batdongsan.cantho.vn">support@batdongsan.cantho.vn</a>.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}