
.coltrai, .colphai{
    color: white;
    width: 100%;
    height: 200px;
}
.col-md-6.coltrai {
    
    background-color: #00363d;
}
.coltrai h1.text-center {
    position: relative;
    top: 80px;
    left: 0;
}
.col-md-6.colphai {

    background-color: #77a300;
}

.colphai .tieude_timnhanh, .colphai .noidung_timnhanh {
    position: relative;
    text-align: center;
    top: 80px;
    left: 0;
}
/* lightbox */
#lightbox {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0,0,0,0.8);
}
#image-placeholder {
	margin: auto;
    display: block;
    width: 80%;
}
#close-icon {
    position: absolute;
    top: 25px;
    right: 25px;
    color: #f1f1f1;
    font-size: 50px;
    cursor: pointer;
}

/* faq */
.item-wrapper {
	margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.question {
	background-color: #000;
    color: #fff;
	padding: 10px 15px;
}
.answer {
	padding: 20px;
	display: none;
}
.toggle-display {
	padding: 1px 5px;
	margin-right: 5px;
	cursor: pointer;
}

