{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'img/logo-icon.png' %}" rel="shortcut icon"/>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/root/style.css' %}">
    <link rel="stylesheet" href="{% static 'lib/css/bootstrap-grid.css' %}">
</head>

<body>
<!-- SIDEBAR -->
<div class="sidebar">
    <div class="sidebar-logo">
        <img src="{% static 'img/logo1.png' %}" alt="">
        <div class="sidebar-close" id="sidebar-close">
            <i class='bx bx-left-arrow-alt'></i>
        </div>
    </div>
    <div class="sidebar-user">
        <div class="sidebar-user-info">
{#            <img src="{% static 'img/logo-icon.png' %}" alt="" class="profile-image">#}
            <div class="sidebar-user-name">
                <i class='bx bx-user' style="font-size: 25px; margin-right: 10px;"></i>{{ request.user.username }}
            </div>
        </div>
        <button type="button" class="btn btn-outline" onclick="location.href='{% url 'dangxuat' %}'">
            <i class='bx bx-log-out'></i>
        </button>
    </div>
    <!-- SIDEBAR MENU -->
    <ul class="sidebar-menu">
        <li>
            <a href="{% url 'root_home' %}" class="">
                <i class='bx bx-home'></i>
                <span>Tổng quan</span>
            </a>
        </li>
        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class='bx bx-building-house'></i>
                <span>Bài đăng BĐS</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="{% url 'post_add' %}">
                        Thêm bài đăng mới
                    </a>
                </li>
                <li>
                    <a href="{% url 'post_list' %}">
                        Danh sách bài đăng
                    </a>
                </li>
                {#                <li>#}
                {#                    <a href="#">#}
                {#                        Bài đăng chưa duyệt#}
                {#                    </a>#}
                {#                </li>#}
            </ul>
        </li>
        <li>
            <a href="{% url 'category' %}">
                <i class='bx bx-category'></i>
                <span>Danh mục</span>
            </a>
        </li>
        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class='bx bx-news'></i>
                <span>Tin tức</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="{% url 'news_add' %}">
                        Thêm tin tức mới
                    </a>
                </li>
                <li>
                    <a href="{% url 'root_news' %}">
                        Danh sách tin tức
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'root_feedback' %}">
                <i class='bx bx-category'></i>
                <span>Phản hồi</span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->

<!-- MAIN CONTENT -->
{% block content %}{% endblock %}
<!-- END MAIN CONTENT -->

<div class="overlay"></div>

<!-- APP JS -->
<script src="{% static 'js/root/main.js' %}"></script>
</body>

</html>