{% extends 'root/base.html' %}

{% block title %}Quản trị - Chỉnh sửa{% endblock %}

{% block content %}
    <div class="main">
        <div class="main-header">
            <div class="mobile-toggle" id="mobile-toggle">
                <i class='bx bx-menu-alt-left'></i>
            </div>
            <div class="main-title">
                Chỉnh sửa bài đăng
            </div>
        </div>
        <div class="main-content add_tindang">
            <div class="row">
                <div class="col-12">
                    {% for item in u %}
                        <form action="{% url 'news_update_process' item.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="box">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="button-action">
                                        <button type="menu" onclick="location.href='{% url 'root_news' %}'">
                                            Hủy bỏ
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div style="float: right;" class="button-action">
                                        <button type="reset">Nhập lại</button>
                                        <button type="submit" id="btn_ok">
                                            <!-- <span><i class='bx bx-check'></i></span> -->
                                            Xác nhận
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box" style="margin-top: 20px;">
                        <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="div_input_text">
                                <p>Tiêu đề:</p>
                                <input type="text" name="title" value="{{ item.title }}" id="" class="input_text"
                                       required>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 div_col_input_hinhanh">
                            <div class="div_input_text">
                                <p>Hình ảnh:</p>
                                <div>
                                    <input type="file" name="image" class="input_image">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="div_input_text">
                                <p>Nội dung:</p>
                                <textarea name="description" id="" style="width: 100%; height: 400px;"
                                          required>{{ item.content }}</textarea>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}