{% extends 'root/base.html' %}

{% block title %}Quản trị - Chỉnh sửa{% endblock %}

{% block content %}
    <div class="main">
        <div class="main-header">
            <div class="mobile-toggle" id="mobile-toggle">
                <i class='bx bx-menu-alt-left'></i>
            </div>
            <div class="main-title">
                Chỉnh sửa bài đăng
            </div>
        </div>
        <div class="main-content add_tindang">
            <div class="row">
                <div class="col-12">
                    {% for item in u %}
                        <form action="{% url 'post_update_process' item.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="box">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="button-action">
                                        <button type="menu" onclick="location.href='{% url 'post_list' %}'">
                                            Hủy bỏ
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div style="float: right;" class="button-action">
                                        <button type="reset">Nhập lại</button>
                                        <button type="submit" id="btn_ok">
                                            <!-- <span><i class='bx bx-check'></i></span> -->
                                            Xác nhận
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box" style="margin-top: 20px;">
                        <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="div_input_text">
                                <p>Tiêu đề:</p>
                                <input type="text" name="title" value="{{ item.title }}" id="" class="input_text"
                                       required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="div_input_text">
                                <p>Giá:</p>
                                <input type="text" name="prince" value="{{ item.prince }}" id="" class="input_text"
                                       required pattern="[+]?([0-9]*[.])?[0-9]+">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="div_input_text">
                                <p>Địa chỉ:</p>
                                <input type="text" name="address" value="{{ item.address }}" id="" class="input_text"
                                       required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="div_input_text">
                                <p>Danh mục:</p>
                                <select style="color: rgba(0, 0, 0, 0.8);" name="category" id="" required>
                                    {#                                            <option disabled>Chọn phân loại</option>#}
                                    {% for citem in category_list %}
                                        <option {% if item.category == citem.id %}selected{% endif %}
                                                value="{{ citem.id }}">{{ citem.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 div_col_input_phanloai">
                            <div class="div_input_text">
                                <p>Phân loại:</p>
                                <div>
                                    <input type="radio" value="0" class="input_radio" name="radiothueban"
                                           id="radio-chothue" required
                                           {% if item.type == 0 %}checked{% endif %}>
                                    <label for="radio-chothue">Cho thuê</label>
                                </div>
                                <div>
                                    <input type="radio" value="1" class="input_radio" name="radiothueban"
                                           id="radio-ban" required
                                           {% if item.type == 1 %}checked{% endif %}>
                                    <label for="radio-ban" required>Bán</label>
                                </div>
                            </div>
                        </div>
                        {#                                <div class="col-6 col-sm-6 div_col_input_noibat" style="justify-content: space-between;">#}
                        {#                                    <div class="div_input_text">#}
                        {#                                        <p>Nổi bật:</p>#}
                        {#                                        <div>#}
                        {#                                            <input type="radio" class="input_radio" name="radio-noibat"#}
                        {#                                                id="radio-noibat-co" required>#}
                        {#                                            <label for="radio-noibat-co">Có</label>#}
                        {#                                        </div>#}
                        {#                                        <div>#}
                        {#                                            <input type="radio" class="input_radio" name="radio-noibat"#}
                        {#                                                id="radio-noibat-khong" required>#}
                        {#                                            <label for="radio-noibat-khong">Không</label>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        <div class="col-6 col-sm-6 div_col_input_hinhanh">
                            <div class="div_input_text">
                                <p>Hình ảnh:</p>
                                <div>
                                    <input type="file" name="image" class="input_image">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="div_input_text">
                                <p>Nội dung:</p>
                                <textarea name="description" id="" style="width: 100%; height: 400px;"
                                          required>{{ item.description }}</textarea>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}